<div id='top-bar'>
  <a class='logo' href='#'></a>
</div>
<div id='container'></div>
<div id="welcome_message">Press the <span class="spacebar">spacebar</span> to start playing Classroulette.</div>
<div id="second_message">When you're done looking at these classes, <br>press the spacebar or click the logo to play again.</div>
<div id="final_message">Congrats, you're now an expert at Classroulette!</div>
<div id="links"><a href="#" class="modal_link" id="about-link" onclick="showAbout();">What is this?</a></div>
<div id="about">
  <div class="modal_background">
    <div class="modal_content">
      <h2>About</h2>
      <p>I made this website because I've found some great random courses skimming through the Bluebook, and I wanted to bring that experience of discovery online, making it even better than a physical book.</p>
      <p>Look forward to more features coming soon, including links to Yale Bluebook course pages, and filtering of results.</p>
      <p>I'd love to hear from you if you have feedback. You can email me at <a href="mailto:geoffrey.litt@yale.edu">geoffrey.litt@yale.edu</a>.</p>
      <p>&copy;2012 Geoffrey Litt</p>
      <p><label for="example_2a">Example 2 a</label>
  <input type="checkbox" checked="checked" id="example_2a" /></p>
      <div class="close_link"><a href="#" onclick="hideAbout();">X</a></div>
    </div>
  </div>
</div>