<div class="topbar hide">
    <h1>Class Roulette</h1>
    <a id="refresh"><img class="background" src="images/spin2.png"></img></a>
    <h2 class="background">Filter</h2>
    <h2 class="background">About</h2>
</div>
<div class="logoContainer">
    
    <div class="wheel spin"></div>
    <div class="spinner"></div>
    <div class="titleContainer">
    <h1>Class Roulette</h1>
    <h2 class="background-big">Press the <span class="label label-info">Spacebar</span> to start</h2></div>
 
</div>
<div id="container">
  
</div>

</body>
