<div id='top-bar'>
  <a class='logo' href='#'></a>
</div>
<div id='container'></div>
<div id="welcome_message">Classroulette helps you explore the Bluebook.<br><br>Press the <span class="spacebar">spacebar</span> or click the logo to start.</div>
<div id="second_message">When you're done looking at these classes, <br>press the spacebar or click the logo to play again.</div>
<div id="final_message">Congrats, you're now an expert at Classroulette!</div>
<div id="fb-like"><div class="fb-like" data-href="http://yaleclassroulette.com/" data-send="false" data-width="225" data-show-faces="false" data-colorscheme="dark"></div></div>
<div id="links"><a href="#" class="modal_link" id="about-link" onclick="showAbout();">What is this?</a></div>
<div id="about">
  <div class="modal_background">
    <div class="modal_content">
      <h2>About</h2>
      <p>Yale Classroulette is the most fun way to randomly Bluebook. We all love skimming through the printed Bluebook to find random classes, and Classroulette brings that experience of serendipitous discovery online, making it easier and more fun. And once you find a cool class, you're just one click away from viewing it on Yale OCI or Yale Bluebook.</p>
      <p>Right now, Classroulette only displays 100-300 level undergraduate classes. Look forward to more features like filtering options and favorites lists, coming soon.</p>
      <p>I'd love to hear from you if you have questions or comments. You can email me at <a href="mailto:geoffrey.litt@yale.edu">geoffrey.litt@yale.edu</a>.</p>
      <p>&copy;2012 Geoffrey Litt</p>
      <div class="close_link"><a href="#" onclick="hideAbout();">X</a></div>
    </div>
  </div>
</div>
