/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* Chrome User Agent Styles */

h1 {
    -webkit-margin-after: 0.67em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-end: 0;
    -webkit-margin-start: 0;
    color: white;
    display: block;
    font-family: 'Open Sans';
    font-size: 30px;
    font-weight: 700;
    margin-top: 20px;
    text-align: center;
}

h2 {
    -webkit-margin-after: 0.83em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-end: 0;
    -webkit-margin-start: 0;
    color: white;
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin: auto;
    text-align: center;
}

h3 {
    -webkit-margin-after: 1em;
    -webkit-margin-before: 1em;
    -webkit-margin-end: 0;
    -webkit-margin-start: 0;
    display: block;
    font-size: 1.17em;
    font-weight: bold;
}

h4 {
    -webkit-margin-after: 1.33em;
    -webkit-margin-before: 1.33em;
    -webkit-margin-end: 0;
    -webkit-margin-start: 0;
    display: block;
    font-weight: bold;
}

h5 {
    -webkit-margin-after: 1.67em;
    -webkit-margin-before: 1.67em;
    -webkit-margin-end: 0;
    -webkit-margin-start: 0;
    display: block;
    font-size: 0.83em;
    font-weight: bold;
}

/* Body Styles */

body {
    font-family: 'Open Sans';
    color: white;
    background: #214478;
}

.hide {
    opacity: 0
}

p {
    font-size: 12px;
    text-align: center;
    margin: auto;
}

/* Initial Logo Styles */

.background {
    background-color: #1d3b69;
    padding: 10px 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: inset 0px 1px 2px 2px rgba(0, 0, 0, .1);
    box-shadow: inset 0px 1px 2px 2px rgba(0, 0, 0, .1);

}

.background-big {
    background-color: #1d3b69;
    padding: 15px 15px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0px 1px 2px 2px rgba(0, 0, 0, .1);
    box-shadow: inset 0px 1px 2px 2px rgba(0, 0, 0, .1);
}

.titleContainer {
    transition: all 0.3s !important;
    -moz-transition: all 0.3s !important;
    -webkit-transition: all 0.3s !important;
    -o-transition: all 0.3s !important;
}

.logoContainer {
    margin: auto;
    height: 240px;
    width: 240px;
    margin-top: 0px;
}

.wheel {
    background-image: url('images/roulette4.png');
    width: 240px;
    height: 240px;
    z-index: -9999;
}

.wheel2 {
    background-image: url('images/roulette1.png')
}

.spinner {
    background-image: url('images/spin.png');
    width: 240px;
    height: 240px;
    position: absolute;
    margin-top: -240px;
    transition: all 0.3s !important;
    -moz-transition: all 0.3s !important;
    -webkit-transition: all 0.3s !important;
    -o-transition: all 0.3s !important;
}



/* General Text Styles */

h1 {
    text-align: center;
    color: white;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 30px;
    margin-top: 20px;
}

h2 {
    font-size: 14px;
    color: white;
    text-align: center;
    margin: auto;
    font-weight: 400px;
}
​
.label, .badge {
    font-size: 10.998px;
    font-weight: bold;
    line-height: 14px;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #999999;
}
.label {
    padding: 1px 6px 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 0 2px;
}
a.label:hover, a.badge:hover {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}
.label-important[href], .badge-important[href] {
    background-color: #953b39
}
.label-info, .badge-info {
    background-color: #3a87ad
}
.label-info[href], .badge-info[href] {
    background-color: #2d6987
}

/* Top Navigation Bar Styles */

.topbar {
    height: 100px;
    margin: auto;
    width: 560px;
    transition: all 0.3s !important;
    -moz-transition: all 0.3s !important;
    -webkit-transition: all 0.3s !important;
    -o-transition: all 0.3s !important;
}
.topbar h1 {
    float: left
}
.topbar h2 {
    float: left;
    margin: 20px 5px;
}
.topbar img {
    float: left;
    margin: 21px 30px;
    padding: 8px;
}

/* Container Styles */

#container {
    width: 1200px;
    margin: auto;
    margin-top: -260px;
}

/* Box Styles */

.box {
    width: 180px;
    height: 240px;
    margin: 10px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    float: left;
    background: #193259;
    overflow: hidden;
}

.large {
    width: 580px;
    height: 240px;
}

.left {
    width: 140px;
    padding: 20px;
    float: left;
    height: 240px;
}

.right {
    background: #1d3b69;
    width: 360px;
    padding: 20px;
    float: left;
    height: 240px;
    -webkit-box-shadow: inset 0px 1px 2px 2px rgba(0, 0, 0, .1);
    box-shadow: inset 0px 1px 2px 2px rgba(0, 0, 0, .1);
}

.box h5 {
    color: #a8dbca;
    margin: 0px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.box h4 {
    margin: 2 0 3px 0;
    font-size: 13px;
}

.box p {
    margin-top: 15px;
    text-align: left;
    font-size: 12px;
    margin-bottom: 20px;
    display: block;
    height: 130px;
    overflow: hidden;
}

.box a {
    font-family: 'Open Sans';
    font-size: 13px;
    font-weight: bold;
    color: #1D3B69;
    text-decoration: none;
}

.box h3 {
    font-size: 16px;
    display: block;
    height: 110px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.box .links {
    display: block;
    float: left;
    padding: 2px 6px;
    margin-right: 10px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.icon {
    margin-right: 4px
}

/* CSS3 Transitions */

@-webkit-keyframes spin { 
	from {
	    -webkit-transform: rotate(0deg)
	}
	to {
	    -webkit-transform: rotate(360deg)
	}
}

@-moz-keyframes spin { 

	from {
	    -moz-transform: rotate(0deg)
	}
	to {
	    -moz-transform: rotate(360deg)
	}
}

@-ms-keyframes spin { 
	from {
	    -ms-transform: rotate(0deg)
	}
	to {
	    -ms-transform: rotate(360deg)
	}
}

.spin {
    -webkit-animation-name: spin;
    -webkit-animation-duration: 4000ms; /* 80 seconds */
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    /* mozilla ff */
    -moz-animation-name: spin;
    -moz-animation-duration: 4000ms; /* 80 seconds */
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    /* microsoft ie */
    -ms-animation-name: spin;
    -ms-animation-duration: 4000ms; /* 80 seconds */
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
}


/* Other */



/**** Isotope Filtering ****/
.isotope-item {
    z-index: 2
}
.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}
/**** Isotope CSS3 transitions ****/
.isotope, .isotope .isotope-item {
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -ms-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
}
.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -ms-transition-property: -ms-transform, opacity;
    -o-transition-property: top, left, opacity;
    transition-property: transform, opacity;
}
/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition, .isotope.no-transition .isotope-item, .isotope .isotope-item.no-transition {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -ms-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
}
