/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a:active
{
outline: none;
}
a:focus
{
-moz-outline-style: none;
}


body{
  margin: 0;
  padding: 0;
  background-color: #1B1B1B;
  height: 100%;
  font-family: 'PT Sans', sans serif;
}

#top-bar{
  position: fixed;
  height: 45px;
  width: 100%;
  padding: 5px 0;
  z-index: 100;
  background-color: #1B1B1B;
}

a.logo{
  display: block;
  margin: 5px auto 0 auto;
  height: 30px;
  width: 196px;
  background-image: url('images/logo-sprite.png');
}

a.logo:hover{
  background-position: 0px -32px;
}

a.logo:active{
  background-position: 0px -32px;
  margin-top: 6px;
}

#container{
  padding: 55px 5px 5px 5px;
  height: 100%;
  margin: 0 auto 0 auto;
}

#welcome_message{
  width: 100%;
  font-size: 30px;
  color: #dddddd;
  font-family: 'PT Sans', sans serif;
  text-align: center;
  margin-top: 200px;
}

.spacebar{
  border: solid thin #dddddd;
  padding: 5px 30px;
  margin: 0 5px;
  font-size: 20px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; /* future proofing */
}

#second_message, #final_message{
  display: none;
  position: fixed;
  top: 10px;
  left: 25px;
  font-size: 15px;
  font-family: 'PT Sans', sans serif;
  color: #dddddd;
  z-index: 100;
  width: 500px;
}

#links{
  position: fixed;
  top: 10px;
  right: 20px;
  z-index: 100;
}

a#about-link{
  font-family: 'PT Sans', sans serif;
  font-size: 14 px;
  color: #dddddd;
  text-transform: uppercase;
  text-decoration: underline;
}

#about{
  display: none;
}

.modal_background{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  padding: 0px;
  background-color: rgba(27, 27, 27, 0.8);
  z-index: 1000;
}

.modal_content{
  position: relative;
  width: 400px;
  padding: 20px;
  margin: 150px auto 0 auto;
  background-color: #dddddd;
}

.modal_content h2{
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'PT Sans', sans serif;
  margin-top: 5px;
  margin-bottom: 15px;
}

.modal_content p{
  font-size: 16px;
  font-family: 'PT Sans', sans serif;
  line-height: 1.2em;
  margin-bottom: 1em;
}

.modal_content .close_link{
  position: absolute;
  top: 8px;
  right: 12px;
}

.modal_content .close_link a{
  color: #1B1B1B;
  text-decoration: none;
  font-size: 20px;
}

/*-----Course box styling--------*/

.box{
  width: 178px;
  height: 178px;
  margin: 5px;
  float: left;
  overflow: hidden;
  background-color: #366488;
  color: white;

  -moz-border-radius-topright: 20px;
  -moz-border-radius-bottomright: 20px;
  -moz-border-radius-bottomleft: 20px;

  -webkit-border-top-right-radius: 20px;
  -webkit-border-bottom-right-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;

}

.box_header{
  height: 20px;
  margin: 0px;
  background-color: #2E5675;
  padding: 4px 10px;

  -moz-border-radius-topright: 20px;
  -webkit-border-top-right-radius: 20px;
}

.box_content{
  padding: 10px;
  width: 160px;
  height: 132px;

  -moz-border-radius-bottomleft: 20px;
  -moz-border-radius-bottomright: 20px;

  -webkit-border-bottom-left-radius: 20px;
  -webkit-border-bottom-right-radius: 20px;
}

.large{
  width: 368px;
  height: 368px;
}

h2.number{
  float: left;
  font-family: 'PT Sans', 'sans serif';
  font-size: 16px;
  text-transform: uppercase;
  font-weight: normal;
  margin: 0px;
  display: inline;
}

.permission_required{
  display: none;
  float: left;
  margin: 2px 0 0 5px;
  height: 12px;
  width: 12px;
  background-image: url('images/lock.png');
}

.skills{
  display: none;
  float: right;
  font-family: 'PT Sans', sans serif;
  font-size: 12px;
}

.large .skills, .large .permission_required{
  display: block;
}

h1.name{
  font-size: 20px;
  font-family: 'Gentium Book Basic', serif;
  font-weight: normal;
  margin: 0 0 8px 0;
}

h3.professors{
  display: block;
  font-size: 14px;
  font-weight: normal;
  font-family: 'Gentium Book Basic', serif;
  margin: 0;
  height: 16px;
  overflow: hidden;
}

.hours{
  font-family: 'Gentium Book Basic', serif;
  font-size: 14px;
  margin: 0 0 10px 0;
  height: 16px;
  overflow:hidden;
  float: left;
}

.no_exam{
  float: left;
  margin: 2px 0 0 6px;
  height: 10px;
  width: 18px;
  background-image: url('images/no-exam.png');
}

.reading_period{
  float: left;
  margin: 2px 0 0 6px;
  height: 10px;
  width: 18px;
  background-image: url('images/reading-period.png');
}

p.desc{
  font-size: 14px;
  font-family: 'PT Sans', sans serif;
  line-height: 1.3em;
  height: 180px;
  width: 100%;
  overflow: auto;
}

.box_buttons{
  display: none;
  height: 50px;
  width: 370px;
}

.large .box_buttons{
  display: block;
}

/* Use this after YBB button is added
a.box_button{
  display: block;
  float: left;
  margin: 0;
  padding: 5px;
  width: 175px;
  height: 39px;
  background-color: #6185A3;
  color: #ffffff;
  font-family: 'PT Sans', sans serif;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  line-height: 1.3em;
  border-top: solid thin #294F6D;
}

a.box_button.left{
  border-right: solid thin #294F6D;
  width: 172px;
  -moz-border-radius-bottomleft: 20px;
  -webkit-border-bottom-left-radius: 20px;
}

a.box_button.right{
  -moz-border-radius-bottomright: 20px;
  -webkit-border-bottom-right-radius: 20px;
}

*/

a.box_button{
  display: block;
  float: left;
  margin: 0;
  padding: 5px;
  width: 358px;
  height: 39px;
  background-color: #6185A3;
  color: #ffffff;
  font-family: 'PT Sans', sans serif;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  line-height: 1.3em;
  border-top: solid thin #294F6D;

  -moz-border-radius-bottomleft: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -moz-border-radius-bottomright: 20px;
  -webkit-border-bottom-right-radius: 20px;
}

a.box_button .target_service{
  font-size: 15px;
  font-weight: bold;
}

a.box_button:hover{
  background-color: #366488;
}

.large .box_content{
  width: 350px;
  height: 272px;
}

.course_details{
  display: none;
}

.large .course_details{
  display: block;
}



/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.4s;
     -moz-transition-duration: 0.4s;
      -ms-transition-duration: 0.4s;
       -o-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

